/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');



.chatbot header {
  padding: 5px;
  text-align: center;
  color: #fff;
  background: #ff803b;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

header h2 {
  

}

.chatbot {
  overflow-y: auto;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
  0 32px 64px -48px rgba(0,0,0,0.5);

}
.chatbox {
  overflow-y: auto;
  height: 79%;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  color: #fff;
  cursor: default;
  text-align: center;
  align-self: flex-end;
  text-align: center;
  padding: auto;
  margin:"auto";
  background: #F26419;
  font-size: 13px;
  margin-bottom:15px;
}
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  text-align: left;
  background: rgb(29, 101, 196);
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}
.chatbot .chat-input {

}
.chat-input textarea {


}
